.row-container {
    margin: 20px auto 50px !important;
}

.row-container .index-link {
    position: relative;
    font-size: 14px;
    margin-bottom: 5px;
}

.row-container .index-link a {
    padding-left: 20px;
    color: #f03;
    text-decoration: none;
}

.row-container .index-link a:hover {
    text-decoration: underline;
}

.row-container .index-link:before {
    content: url('../../img/common/icon-indexlink.png?1458092189');
    position: absolute;
    padding: 3px 0 0;
}

.row-container .main-column {
    width: 950px;
}

.row-container .plan-title {
    padding: 20px 0 6px;
    margin-bottom: 45px;
    border-bottom: 2px solid #f03;
    font-weight: 700;
    font-size: 26px;
    color: #f03;
}

.row-container .plan-title span {
    background: #f03;
    padding: 11px 20px 9px;
    color: #fff;
    margin: 0 30px 0 0;
    border-radius: 5px 5px 0 0;
}

.row-container .title-name {
    text-align: center;
    padding: 15px 60px;
    margin-bottom: 30px;
}

.row-container .title-name .logo {
    margin-bottom: 20px;
}

.row-container .title-name .title {
    font-weight: 700;
    text-align: center;
}

.row-container .title-name .title .name {
    font-size: 20px;
}

.row-container .title-name .title .condition {
    font-size: 14px;
    margin-top: 5px;
    font-weight: 400;
}

.row-container .detail-data {
    margin: 0 0 34px;
    padding: 15px 0;
    border-top: 1px solid #fdc6d2;
    border-bottom: 1px solid #fdc6d2;
    text-align: center;
    font-size: 0;
}

.row-container .detail-data dl {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    font-size: 14px;
}

.row-container .detail-data dl.ptn1 dt {
    background-color: #e25757;
}

.row-container .detail-data dl.ptn1 dd {
    color: #e25757;
    font-weight: 700;
}

.row-container .detail-data dl.ptn2 dt {
    background-color: #5f87cb;
}

.row-container .detail-data dt {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    font-size: 10px;
    color: #fff;
    padding: 0 20px;
    border-radius: 15px;
    margin: 0 5px 0 20px;
}

.row-container .detail-data dd {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
}

.row-container .data-boxs {
    *zoom: 1;
    margin-bottom: 10px;
}

.row-container .data-boxs:after {
    content: "";
    display: table;
    clear: both;
}

.row-container .top-data {
    float: left;
    width: 482px;
    font-size: 0;
    margin-left: -15px;
    font-weight: 700;
}

.row-container .top-data li {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    position: relative;
    text-align: center;
    width: 225px;
    height: 115px;
    margin: 0 0 15px 15px;
    background: url(../../img/detail/bg-red.png) repeat;
    border-radius: 4px;
}

.row-container .top-data li .tag {
    position: absolute;
    top: -5px;
    left: 15px;
}

.row-container .top-data li .head {
    font-size: 20px;
    color: #f03;
    margin: 12px 0 0;
    text-align: left;
    padding-left: 64px;
}

.row-container .top-data li .head span {
    font-size: 12px;
    vertical-align: top;
}

.row-container .top-data li .data {
    font-size: 42px;
    font-family: Arial;
    line-height: 1.5;
}

.row-container .top-data li .data span {
    font-size: 25px;
}

.row-container .top-data li.rank1 .data:after {
    content: url('../../img/detail/rank1-crown.png?1458022208');
    margin-left: 5px;
}

.row-container .top-data li.rank2 .data:after {
    content: url('../../img/detail/rank2-crown.png?1458022220');
    margin-left: 5px;
}

.row-container .top-data li.rank3 .data:after {
    content: url('../../img/detail/rank3-crown.png?1458022230');
    margin-left: 5px;
}

.row-container .top-data li.rank-4more .data:after {
    content: "4位";
    font-size: 10px;
    background-color: #ececec;
    padding: 1px 6px;
    margin: 0 0 0 8px;
    vertical-align: middle;
    border-radius: 3px;
}

.row-container .top-data li.rank-5more .data:after {
    content: "5位";
    font-size: 10px;
    background-color: #ececec;
    padding: 1px 6px;
    margin: 0 0 0 8px;
    vertical-align: middle;
    border-radius: 3px;
}

.row-container .top-data li.rank-6more .data:after {
    content: "6位";
    font-size: 10px;
    background-color: #ececec;
    padding: 1px 6px;
    margin: 0 0 0 8px;
    vertical-align: middle;
    border-radius: 3px;
}

.row-container .top-data li.rank-7more .data:after {
    content: "7位";
    font-size: 10px;
    background-color: #ececec;
    padding: 1px 6px;
    margin: 0 0 0 8px;
    vertical-align: middle;
    border-radius: 3px;
}

.row-container .top-data li.rank-8more .data:after {
    content: "8位";
    font-size: 10px;
    background-color: #ececec;
    padding: 1px 6px;
    margin: 0 0 0 8px;
    vertical-align: middle;
    border-radius: 3px;
}

.row-container .top-data li.rank-9more .data:after {
    content: "9位";
    font-size: 10px;
    background-color: #ececec;
    padding: 1px 6px;
    margin: 0 0 0 8px;
    vertical-align: middle;
    border-radius: 3px;
}

.row-container .top-data li.rank-10more .data:after {
    content: "10位";
    font-size: 10px;
    background-color: #ececec;
    padding: 1px 6px;
    margin: 0 0 0 8px;
    vertical-align: middle;
    border-radius: 3px;
}

.row-container .rank-graph {
    float: right;
    position: relative;
    width: 449px;
    height: 226px;
    background: url(../../img/detail/bg-red.png) repeat;
    padding: 10px 10px 10px 15px;
    border-radius: 3px;
}

.row-container .rank-graph .tag {
    position: absolute;
    top: -5px;
    left: 15px;
}

.row-container .rank-graph .head {
    margin: 7px 0 8px 52px;
    font-weight: 700;
    font-size: 20px;
    color: #f03;
}

.row-container .rank-graph .detail {
    position: relative;
}

.row-container .rank-graph .rank-list {
    font-size: 14px;
    font-weight: 700;
    background-color: #fff;
    border-radius: 3px;
    width: 134px;
    padding: 5px 10px;
}

.row-container .rank-graph .rank-list li {
    padding: 5px 40px 5px 0;
}

.row-container .rank-graph .rank-list li.rank1 {
    background: url(../../img/detail/rank1-crown.png) center right no-repeat;
}

.row-container .rank-graph .rank-list li.rank2 {
    background: url(../../img/detail/rank2-crown.png) center right no-repeat;
}

.row-container .rank-graph .rank-list li.rank3 {
    background: url(../../img/detail/rank3-crown.png) center right no-repeat;
}

.row-container .rank-graph .rank-list li.rank4more {
    position: relative;
}

.row-container .rank-graph .rank-list li.rank4more:before {
    content: "4位";
    position: absolute;
    font-size: 10px;
    right: 0;
    top: 8px;
    background-color: #ececec;
    padding: 1px 6px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
}

.row-container .rank-graph .rank-list li.rank5more {
    position: relative;
}

.row-container .rank-graph .rank-list li.rank5more:before {
    content: "5位";
    position: absolute;
    font-size: 10px;
    right: 0;
    top: 8px;
    background-color: #ececec;
    padding: 1px 6px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
}

.row-container .rank-graph .rank-list li.rank6more {
    position: relative;
}

.row-container .rank-graph .rank-list li.rank6more:before {
    content: "6位";
    position: absolute;
    font-size: 10px;
    right: 0;
    top: 8px;
    background-color: #ececec;
    padding: 1px 6px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
}

.row-container .rank-graph .rank-list li.rank7more {
    position: relative;
}

.row-container .rank-graph .rank-list li.rank7more:before {
    content: "7位";
    position: absolute;
    font-size: 10px;
    right: 0;
    top: 8px;
    background-color: #ececec;
    padding: 1px 6px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
}

.row-container .rank-graph .rank-list li.rank8more {
    position: relative;
}

.row-container .rank-graph .rank-list li.rank8more:before {
    content: "8位";
    position: absolute;
    font-size: 10px;
    right: 0;
    top: 8px;
    background-color: #ececec;
    padding: 1px 6px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
}

.row-container .rank-graph .rank-list li.rank9more {
    position: relative;
}

.row-container .rank-graph .rank-list li.rank9more:before {
    content: "9位";
    position: absolute;
    font-size: 10px;
    right: 0;
    top: 8px;
    background-color: #ececec;
    padding: 1px 6px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
}

.row-container .rank-graph .rank-list li.rank10more {
    position: relative;
}

.row-container .rank-graph .rank-list li.rank10more:before {
    content: "10位";
    position: absolute;
    font-size: 10px;
    right: 0;
    top: 8px;
    background-color: #ececec;
    padding: 1px 6px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
}

.row-container .rank-graph .graph {
    position: absolute;
    top: -11px;
    left: 176px;
    width: 280px;
    height: 175px;
    background: url(../../img/common/graph-bg.png) no-repeat 41px 6px;
    text-shadow: -1px -1px #fff,1px -1px #fff,-1px 1px #fff,1px 1px #fff;
}

.row-container .rank-graph .graph p {
    position: absolute;
    font-weight: 700;
    text-align: center;
    font-size: 11px;
    line-height: 1.3;
}

.row-container .rank-graph .graph p span {
    font-size: 18px;
    color: #f03;
}

.row-container .rank-graph .graph p .data {
    font-size: 11px;
    color: #f03;
}

.row-container .rank-graph .graph p.status1 {
    top: -34px;
    left: 101px;
}

.row-container .rank-graph .graph p.status2 {
    top: 45px;
    left: 203px;
}

.row-container .rank-graph .graph p.status3 {
    top: 135px;
    left: 191px;
}

.row-container .rank-graph .graph p.status4 {
    top: 135px;
    left: 2px;
}

.row-container .rank-graph .graph p.status5 {
    top: 45px;
    left: -5px;
}

.row-container .rank-graph .graph #canvas {
    position: absolute;
    top: 6px;
    left: 40px;
}

.row-container .rank-graph .graph .score {
    font-size: 14px;
    color: #5f87cb;
    left: 112px;
    top: 83px;
    text-shadow: none;
}

.row-container .rank-graph .graph .score span {
    font-size: 26px;
    font-family: Arial;
    color: #5f87cb;
}

.row-container .device-content {
    background: url(../../img/detail/bg-red.png) repeat;
    padding: 10px;
    margin-bottom: -10px;
}

.row-container .device-data {
    display: none;
    *zoom: 1;
    position: relative;
    border-bottom: none;
    padding: 40px;
    border-radius: 3px 3px 0 0;
    background-color: #fff;
}

.row-container .device-data:after {
    content: "";
    display: table;
    clear: both;
}

.row-container .device-data.active {
    display: block;
}

.row-container .device-data .tag {
    position: absolute;
    top: -15px;
    left: 5px;
}

.row-container .device-data .image {
    float: left;
    width: 306px;
    font-size: 20px;
    color: #f03;
    font-weight: 700;
    margin: -35px 80px 0 20px;
}

.row-container .device-data .image .head {
    margin-bottom: 55px;
}

.row-container .device-data .date {
    text-align: right;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 14px;
}

.row-container .device-data .detail {
    float: left;
    width: 438px;
}

.row-container .device-data .detail .device-name {
    font-size: 36px;
    line-height: 1.3;
    font-weight: 700;
    margin-bottom: 20px;
}

.row-container .device-data .detail .device-name span {
    font-size: 24px;
}

.row-container .device-data .detail .colors {
    font-size: 0;
}

.row-container .device-data .detail .colors p {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    position: relative;
    font-size: 14px;
    padding: 0 0 0 24px;
    margin: -15px 15px 27px 0;
}

.row-container .device-data .detail .colors p:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 0;
    width: 16px;
    height: 16px;
    border-radius: 3px;
}

.row-container .device-data .detail .colors p.red:after {
    background-color: #f03;
}

.row-container .device-data .detail .colors p.dark-silver:after {
    background-color: #a7a7a7;
}

.row-container .device-data .detail .data-list {
    overflow: hidden;
    *zoom: 1;
    margin: 0 -10px 20px 0;
}

.row-container .device-data .detail .data-list li {
    float: left;
}

.row-container .device-data .detail .data {
    font-weight: 700;
    border: 1px solid #5f87cb;
    margin: 0 10px 10px 0;
    border-radius: 3px;
    line-height: 1.3;
    display: table;
}

.row-container .device-data .detail .data dt {
    display: table-cell;
    width: 80px;
    height: 50px;
    vertical-align: middle;
    background-color: #5f87cb;
    color: #fff;
    font-size: 14px;
    text-align: center;
}

.row-container .device-data .detail .data dd {
    display: table-cell;
    width: 129px;
    font-size: 14px;
    vertical-align: middle;
    text-align: center;
    font-family: Arial;
}

.row-container .device-data .link-btn a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    background-color: #e25757;
    font-size: 20px;
    padding: 15px 0;
    border-radius: 3px;
}

.row-container .device-data .link-btn a:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: .7;
}

.row-container .device-list-tab {
    overflow: hidden;
    *zoom: 1;
    width: 100%;
    margin-bottom: 50px;
    border-radius: 0 0 3px 3px;
    background: url(../../img/detail/bg-red.png) repeat;
}

.row-container .device-list-tab td {
    position: relative;
    padding: 10px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}

.row-container .device-list-tab td .inner {
    overflow: hidden;
    *zoom: 1;
}

.row-container .device-list-tab td:before {
    content: "";
    position: absolute;
    top: 0;
    left: -4px;
    width: 4px;
    height: 115px;
    background: #fff;
    z-index: 10;
}

.row-container .device-list-tab td:hover,.row-container .device-list-tab td.active {
    cursor: pointer;
    padding-top: 0;
}

.row-container .device-list-tab td:hover .inner,.row-container .device-list-tab td.active .inner {
    background: #fff;
    padding-top: 10px;
}

.row-container .device-list-tab td:hover:before,.row-container .device-list-tab td.active:before {
    content: none;
    background: none;
}

.row-container .device-list-tab td:hover:after,.row-container .device-list-tab td.active:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 115px;
    background: url(../../img/detail/bg-red.png) repeat;
    z-index: 11;
}

.row-container .device-list-tab td .name {
    float: left;
    padding: 32px 2% 0 0;
    width: 58%;
    line-height: 1.3;
    text-align: left;
}

.row-container .device-list-tab td .pic {
    float: left;
    width: 37%;
    padding: 20px 3% 20px 0;
    text-align: right;
}

.row-container .device-list-tab td .pic img {
    width: 75px;
}

.row-container .device-list-tab td:first-child {
    border-left: none;
}

.row-container .device-list-tab td:first-child:hover:after,.row-container .device-list-tab td:first-child.active:after {
    width: 9px;
}

.row-container .device-list-tab td:last-child {
    border-right: none;
}

.row-container .price .price-content {
    overflow: hidden;
    *zoom: 1;
    font-weight: 700;
}

.row-container .price .price-content .title {
    float: left;
    width: 270px;
    text-align: center;
    margin-top: 60px;
}

.row-container .price .price-content .title .logo {
    margin: 30px 0 10px;
}

.row-container .price .price-content .title .logo img {
    width: 210px;
}

.row-container .price .price-content .title .text {
    font-size: 14px;
}

.row-container .price .price-content .price-data1 {
    overflow: hidden;
    *zoom: 1;
    float: left;
    width: 488px;
    background: url(../../img/detail/bg-dotted-blue.png) repeat;
    padding: 10px;
    border-radius: 3px;
}

.row-container .price .price-content .price-data1 .data {
    background: url(../../img/detail/arrow2.png) 153px 52px no-repeat;
    padding: 0 20px 0 10px;
}

.row-container .price .price-content .price-data2 {
    overflow: hidden;
    *zoom: 1;
    background: url(../../img/detail/bg-dotted-red.png) repeat;
    padding: 10px 10px 10px 13px;
    border-radius: 3px;
}

.row-container .price .price-content .price-data2 .data {
    padding: 0 20px 0 7px;
}

.row-container .price .price-content .price-data-head {
    text-align: center;
    font-size: 18px;
    padding: 3px 0 8px;
}

.row-container .price .price-content .data {
    overflow: hidden;
    *zoom: 1;
    float: left;
    width: 135px;
    margin-bottom: -10px;
    padding: 0 20px 0 0;
}

.row-container .price .price-content .data li {
    float: left;
    width: 131px;
    text-align: center;
    border: 2px solid #5f87cb;
    border-radius: 3px;
    margin: 0 10px 10px 0;
    background-color: #fff;
}

.row-container .price .price-content .data li .head {
    padding: 5px 0;
    font-size: 14px;
    background-color: #5f87cb;
    color: #fff;
}

.row-container .price .price-content .data li .price {
    color: #b22;
    font-size: 24px;
    font-family: Arial;
    padding: 8px 0;
}

.row-container .price .price-content .graph {
    float: left;
    position: relative;
    border: 2px solid #5f87cb;
    width: 304px;
    height: 186px;
    margin-left: 5px;
    border-radius: 3px;
}

.row-container .price .price-content .graph.ptn1 {
    background: url(../../img/detail/graph1.png) 13px 52px no-repeat #fff;
}

.row-container .price .price-content .graph.ptn1 .price-text.price-1y {
    top: 67px;
}

.row-container .price .price-content .graph.ptn1 .price-text.price-2y {
    top: 67px;
}

.row-container .price .price-content .graph.ptn2 {
    background: url(../../img/detail/graph2.png) 13px 52px no-repeat #fff;
}

.row-container .price .price-content .graph.ptn2 .price-text.price-1y {
    top: 50px;
}

.row-container .price .price-content .graph.ptn2 .price-text.price-2y {
    top: 86px;
}

.row-container .price .price-content .graph.ptn3 {
    background: url(../../img/detail/graph3.png) 13px 52px no-repeat #fff;
}

.row-container .price .price-content .graph.ptn3 .price-text.price-1y {
    top: 92px;
}

.row-container .price .price-content .graph.ptn3 .price-text.price-2y {
    top: 55px;
}

.row-container .price .price-content .graph .head {
    padding: 5px 0;
    font-size: 14px;
    background-color: #ececec;
    color: #5f87cb;
    text-align: center;
}

.row-container .price .price-content .graph .price-text {
    position: absolute;
    font-size: 14px;
    text-align: center;
    line-height: 1.2;
}

.row-container .price .price-content .graph .price-text .price {
    font-size: 24px;
    font-family: Arial;
    color: #b22;
}

.row-container .price .price-content .graph .price-text .price .yean {
    font-size: 14px;
}

.row-container .price .price-content .graph .price-text.price-1y {
    left: 20px;
}

.row-container .price .price-content .graph .price-text.price-2y {
    left: 170px;
}

.row-container .price .price-content .graph .text {
    font-size: 14px;
    position: absolute;
    bottom: 5px;
    left: 120px;
}

.row-container .price .plan {
    position: relative;
    background-color: #f9f9f9;
    border: 1px solid #d9d9d9;
    margin: 30px 0;
    padding: 20px 30px;
}

.row-container .price .plan dt {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    font-size: 18px;
    font-weight: 700;
    border-bottom: 1px dashed #333;
    margin: 0 0 10px;
    padding: 0 0 5px;
}

.row-container .price .plan dd {
    font-size: 14px;
}

.row-container .price .plan:before {
    content: url('../../img/detail/arrow1.png?1458789082');
    position: absolute;
    top: -33px;
    left: 116px;
}

.row-container .price .link-btn {
    text-align: center;
}

.row-container .price .link-btn a {
    display: block;
    background-color: #e25757;
    padding: 17px 0;
    width: 440px;
    margin: 40px auto;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    border-radius: 3px;
}

.row-container .price .link-btn a:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: .7;
}

.row-container .price .link-blank-nav {
    width: 440px;
    margin: -33px auto 33px;
    text-align: right;
    color: #888;
}

.row-container .note {
    margin: -15px 0 60px;
}

.row-container .note p {
    padding-left: 15px;
}

.row-container .note p:before {
    left: 0;
}